*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container{
  background-color: #f9c54e;
  margin: auto;
  overflow: scroll;
  height: 100vh;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 7%;
  left: 0%;
  padding-bottom: 100px;
}

.title{
  background-color: #274754;
  color: #f4a462;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding:20px 20px;
  text-align: center;
  border-bottom: 1px solid #fff;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 1;
  width: 100%;
  text-align: left;
}

.box{
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #274754;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
}

.box:hover{
  background-color: #e76e50;
  transform:scaleX(1.1);
  transition: 0.5s;
}

main{
  /* background-color: #e76e50; */
  width: 84%;
  height: 93%;
  position: absolute;
  top: 7%;
  right: 0%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}